/* main styles */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@100..900&display=swap');
:root {
  --main-font: Georgia, sans-serif;
  --second-font: Arial, Helvetica, sans-serif;
}
:root {
	--color-light-xl: #fff;
	--color-light-l: #f6f6f6;
	--color-light-s: #fafafa;
	--color-dark-s: #cdcdcd;
	--color-dark-m: #b2b2b2;
	--color-dark-l: #545454;
	--color-dark-xl: #4c4c4c;
	--color-dark-2xl: #444;
	--color-dark-3xl: #292929;
	--color-primary: #f1cdb3;
	--color-primary-light: #fddcc4;
	--start-screen-gradient-background: #211f20;
	--footer-gradient-background: #211f20;
}
html {
  box-sizing: border-box;
}
body {
  margin: 0;
}
*, *::before, *::after {
  box-sizing: inherit;
}
h1, h2, h3, h4, p, hr {
  margin: 0;
}
.h3 {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
figure {
  margin: 0;
}

/* header section */

header {
  width: 1280px;
  height: 908px;
  margin: 0 auto;
  background: linear-gradient(135deg, #5B483A, #262425, #211F20);
}
main {
  width: 1280px;
  margin: 0 auto;
}
.header-container {
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url("/images/noise_transparent.svg");
}
.logo-container {
  width: 186px;
  height: 60px;
  margin-left: 40px;
  gap: 10px;
}
.logo {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: var(--color-primary);
}
.logo_title {
  font-family: var(--second-font);
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.11em;
  color: var(--color-light-xl);
  margin-top: 10px;
}
.nav-list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 443px;
  gap: 35px;
  margin-right: 40px;
}
.nav-list > li {
  height: 24px;
}
.nav-list > li > a {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 145%;
  color: var(--color-dark-s);
  letter-spacing: 0.04em;
  text-decoration: none;
}
.nav-list > li > hr {
  height: 3px;
  background: var(--color-primary);
  border: var(--color-primary);
}

/* pets page header styles */

.pets-header {
  background: var(--color-light-xl);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
}
.pets-logo {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
}
.pets-logo-title {
  font-family: var(--second-font);
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.1em;
  color: var(--color-dark-3xl);
}
.pets-nav-links {
  font-family: var(--second-font);
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: var(--color-dark-l);
  letter-spacing: 0.04em;
}

/* hero section style */

.hero {
  height: 818px;
  padding-top: 90px;
  padding-left: 40px;
  padding-right: 40px;
  background-image: url("/images/noise_transparent.svg");
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-title-container {
  width: 460px;
  height: 322px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 80px;
}
.hero-heading {
  width: 310px;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  color: var(--color-light-xl);
}
.hero-title {
  font-family: var(--second-font);
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: var(--color-dark-s);
}
.btn {
  border-radius: 100px;
  padding: 15px 45px;
  width: 207px;
  height: 52px;
  background: var(--color-primary);
  text-align: center;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.05em;
  color: var(--color-dark-3xl);
}
.hero-img {
  width: 698px;
  height: 728px;
  background-image: url("/images/start-screen-puppy.png");
}

/* about section style */

.about-container {
  height: 588px;
  background: var(--color-light-xl);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
}
.about-img {
  width: 300px;
  height: 408px;
  margin-bottom: 20px;
  background-image: url("/images/about-pets.png");
}
.about-content {
  width: 430px;
  height: 380px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.about-heading {
  width: 370px;
}
.about-title {
  font-family: var(--second-font);
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: var(--color-dark-xl);
}

/* pets section style */

.pets-container {
  display: flex;
  flex-direction: column;
 /*  justify-content: space-around; */
 padding-top: 80px;
  gap: 60px;
  height: 877px;
  background: var(--color-light-l);
}
.pets-heading {
  width: 400px;
  text-align: center;
  margin: 0 auto;
}
.slider-container {
  display: flex;
  justify-content: center;
  gap: 53px;
}
.circle-btn {
  position: relative;
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 50%;
  background: var(--color-light-l);
  cursor: pointer;
  align-self: center;
}
/* arrow line */
.circle-btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: calc(50% - 7px);
  width: 14px;
  height: 2px;
  background: #292929;
  transform: translateY(-50%);
}

/* arrow triangle */
.circle-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  width: 0;
  height: 0;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  transform: translateY(-50%);
}
.left::before {
  border-right: 5px solid #292929;
  left: calc(55% - 14px);
}
.right::before {
  border-left: 5px solid #292929;
  left: calc(94% - 14px);
}
.card-container {
  display: flex;
  gap: 90px;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 9px;
  width: 270px;
  height: 435px;
  background: var(--color-light-s);
}
.card-img1 {
  width: 270px;
  height: 270px;
  background-image: url("/images/pets-katrine.png");
}
.card-img2 {
  width: 270px;
  height: 270px;
  background-image: url("/images/pets-jennifer.png");
}
.card-img3 {
  width: 270px;
  height: 270px;
  background-image: url("/images/pets-woody.png");
}
.h4 {
font-family: var(--main-font);
font-weight: 400;
font-size: 20px;
letter-spacing: 0.06em;
text-align: center;
color: var(--color-dark-l);
}
.btn-light {
  width: 187px;
  height: 52px;
  text-align: center;
  border: 2px solid var(--color-primary);
  background-color: var(--color-light-s);
  border-radius: 100px;
  padding: 15px 45px;
  margin-bottom: 32px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.08em;
  color: var(--color-dark-3xl); /* need to ad hover and pointer */
}
.pets-btn {
  align-self: center;
  width: 261px;
}

/* help section style */

.help-container {
  height: 611px;
}
.help-heading {
  text-align: center;
  padding-top: 80px;
}
.help-icons-container {
  width: 1089px;
  height: 281px;
  padding-top: 60px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 120px;
  row-gap: 55px;
  
}
.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.icon {
  text-align: center;
  width: 60px;
  height: 60px;
}
.h4 {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--color-dark-l);
}